@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

/* Para acordeão */
body {
  @apply font-sans;
}

.break-smart {
  overflow-wrap: anywhere;
  word-break: normal;
  white-space: normal;
}

/* Dashboard */

@utility main-dashboard {
  @apply flex flex-col w-full justify-center max-w-3xl items-center mx-auto   text-justify md:py-8;
}

/* Sobre */

@utility h2-title {
  @apply text-xl md:text-2xl font-bold text-center my-2;
}

@utility h3-title {
  @apply text-lg md:text-xl font-semibold text-left my-2;
}

@utility p-primary {
  @apply text-justify text-base md:text-lg leading-relaxed whitespace-pre-line my-2;
}

@utility p-caption {
  @apply text-xs md:text-sm text-justify leading-snug my-2;
}

@utility main-section {
  @apply space-y-5 flex flex-col items-center;
}

@utility page-content {
  @apply flex flex-col w-full max-w-4xl mx-auto px-5 lg:py-5;
}

@utility content-split {
  @apply flex flex-col lg:flex-row lg:space-x-8 sm:space-x-0;
}

@utility content-main {
  @apply flex flex-col lg:w-2/3 space-y-0;
}

@utility content-side {
  @apply flex flex-col lg:w-1/3 items-center p-5;
}

@utility tutorial-list {
  @apply list-decimal list-inside mt-0 pt-0 tracking-wide leading-snug space-y-3 text-justify;
}

@utility tutorial-container {
  @apply w-full mx-auto lg:text-sm text-xs mt-0;
}

@utility list-text {
  @apply list-disc list-inside pl-5 p-primary;
}

/* Página inicial */

@utility h4-text {
  @apply max-w-3xl font-light  text-lg text-justify xl:text-2xl md:text-xl lg:text-lg tracking-wide px-5;
}

@utility random-hexagram {
  @apply flex flex-col rounded font-serif select-none lg:max-h-[18rem] md:max-h-[15rem] max-h-[10rem] lg:text-[18rem] md:text-[15rem] text-[10rem] mx-auto justify-center;
}

@utility random-hexagram-container {
  @apply flex flex-col items-center  max-w-[350px] pb-5;
}

/* Tabelas simples */
@utility table-wrapper {
  @apply flex flex-col items-center mx-auto my-0 max-w-full;
}

@utility table-base {
  @apply border-collapse border text-xs m-2 justify-center container;
  /* tabela ocupa somente a largura necessária */
}

@utility table-caption {
  @apply text-xs md:text-sm mt-2 p-1 text-justify leading-snug tracking-tight max-w-fit caption-top;
}
